<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<h1>My Library</h1>
    <ul>
        <!-- THIS PRINTS 3 <li> ELEMENTS OF EACH??????????????????? -->
        {% if all_books[0] %}
            {% for book in all_books %}
            <li><a href="{{ url_for('delete', book_id=book.id) }}">Delete</a> -{{ book.title }} - {{ book.author }} - {{ book.rating }}/10 <a href="{{ url_for('edit_rating', book_id=book.id) }}">Edit Rating</a></li>
            <!-- <li>{{ book }}</li> -->
            {% endfor %}
        {% else %}
            <p>Library is empty</p>
        {% endif %}
    </ul>
    
<a href="{{ url_for('add') }}">Add New Book</a>
</body>
</html>